{
  "extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "process": false
  },
  "overrides": [{
    "files": ["src", "example/index.js"],
    "env": {
      "browser": true,
      "node": false
    }
  }, {
    "files": "**/__tests__/**",
    "env": {
      "jest": true
    }
  }, {
    "files": ["scripts", "*.macro.js"],
    "env": {
      "node": true
    }
  }]
}
